
@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/gilroy/Gilroyextrabold.woff") format('woff'), url("../fonts/gilroy/Gilroyextrabold.woff2") format('woff2');
  font-weight: 800;
  font-style: normal;
}



body {
  margin: 0;
  padding: 0;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  text-transform: uppercase;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 3.6px;
  text-align: left;
  color: #000000;

  background-color: #ffffff;

}

a {
  text-decoration: none;
}

.main-header-logo {
  width: 163px;
  height: 35px;
  object-fit: contain;
}



.main-header {
  width: 1160px;
  opacity: 0.5;
  color: #000000;
  /*background-color: #f0c52e;*/
}


.user-navigation,
.site-navigation,
.catalog-list-items,
.slider-list,
.slider-items,
.items-types,
.slider-list-button,
.slider-services-list,
.brands-list,
.partners,
.footer-contacts,
.footer-social {
  list-style: none;
}


.user-navigation a,
.site-navigation a,
.catalog-list-items a,
.items-types a,
.brands-list a,
.footer-contacts a,
.footer-social a {
  color: #000000;
}


.user-navigation a {

}

.login-link:hover,
.login-link:focus,
.login-compare:hover,
.login-compare:focus,
.login-cart:hover,
.login-cart:focus {
  color: rgba(0, 0, 0, 0.6);

}

.login-link:active,
.login-compare:active,
.login-cart:active {
  color: rgba(0, 0, 0, 0.3);

}

.site-navigation a:hover,
.site-navigation a:focus {
  color: rgba(0, 0, 0, 0.6);
}


.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.catalog-list:hover,
.catalog-list:focus {
  color:rgba(0, 0, 0, 0.6);
}

.catalog-list:active {
  color: rgba(0, 0, 0, 0.3)
}

.catalog-category {
  display: inline-block;
  width: 160px;
  height: 160px;
  opacity: 0.5;
  background-color: #f0c52e;
  color: #000000;
  background-repeat: repeat;
}


.picture-slider-bottom {
  width: 1440px;
  background-color: #e5e5e5;

}

.main-footer {
  width: 1440px;
  background-color: #464646;
}
