
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroy/Gilroyextrabold.woff") format('woff'), url("../fonts/gilroy/Gilroyextrabold.woff2") format('woff2');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family:"OpenSans-Light";
  src: url("../fonts/Open_Sans_Light/OpenSans-Light.woff2") format("woff2"), url("../fonts/Open_Sans_Light/OpenSans-Light.ttf") format("truetype");
  font-weight:normal;
  font-style:normal;
}



html,
body {
  min-width: 1440px;
  min-height: 2795px;
  background-color: #ffffff;
}

.main-header {
  width: 1160px;
  /*height: 299px;*/
  margin: 0 auto;
  padding: 0 60px;
  margin-top: 40px;

}


.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 60px;
}


.main-navigation {
  display: flex;
  justify-content: space-between;
  margin:0;
  padding:0;
}

.navigation-form {
  display: flex;
  margin:0;
  padding:0;

}

.user-navigation {
  display: flex;
  justify-content: flex-end;
  width: 50%;
  margin:0;
  padding:0;

}

.user-navigation li:first-child {
  margin-right: auto;
}



.site-navigation li:last-child {
  margin-left: auto;
}



.header-bottom {
  display: flex;
  justify-content: space-between;
  margin:0;
  padding:0;

}


.site-catalog {
  list-style: none;
  margin:0;
  padding:0;

}
.catalog-list-items {
  display:none;

}

.site-navigation {
  display: flex;
  justify-content: flex-start;
  width: 50%;
  margin:0;
  padding:0;

}



.login-cart {
  margin-left: 65px;
}

.delivery {
  margin-right: 38px;

}



.picture-slider {
  display: flex;
  margin: 0;
  width: 500px;
  padding:0;
  padding-top: 50px;


}


.img-slide-one {
  display: flex;
  flex-direction: column;

}


.slide {
  display: flex;
  margin:0;
  padding:0;
}
.text-slide {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 500px;
  margin-left: auto;
  margin-right: 82px;
}


.items-types {
  display: flex;
  justify-content: space-between;
  padding:0;
}

}

.item-background img {
  margin-bottom: 38px;
}


.picture-slider-bottom{
  display: flex;
  margin:0;
  padding:0;

}
.slide-button .button-slide{
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 30px;


}


/*.slide-button {*/
/*  width: 50%;*/
/*  margin-left: auto;*/
/*  margin-right: auto;*/
/*}*/

.slider-services-list {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.service-text{
  display: flex;
  margin:0;
  padding:0;
  flex-direction: column;


}

.services-slide img {
  position: absolute;
  display: none;
}



.brands {
  display: flex;
  margin:0;
  padding:0;
  margin-top: 98px;

}


.brands-list {
  display: flex;
  justify-content: space-between;
  margin:0;
  padding:0;
  margin-bottom: 151px;
}

.holder {
  display: flex;
  padding:0;
  margin: 0;
  margin-bottom: 100px;
}


.bout-us {
  display: flex;
  padding:0;
  margin: 0;
  width: 50%;
}

.contacts {
  width: 50%;
  margin-left: 0;
  margin-right: 0;
}

.main-footer {
  width: 1160px;
  margin: 0 auto;
  padding: 0 60px;
}

.footer-top .footer-navigation {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.user-footer-navigation {
  display: flex;
  justify-content: flex-end;
}

.user-footer-navigation :first-child {
  margin-right: 40px;
}


.footer-middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;

}

.footer-contacts {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 35%;
  padding: 0;
}


.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin-bottom: 60px;

}

.footer-social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  width: 12%;

}
/---------------------------/

body {
  margin: 0;
  padding: 0;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 3.6px;
  text-align: left;
  color: #000000;
  background-color: #ffffff;

}




a {
  text-decoration: none;
}

.main-header-logo {
  width: 163px;
  height: 35px;
  object-fit: contain;
}

.main-header-logo:hover,
.main-header-logo:focus {
  width: 163px;
  height: 35px;
  object-fit: contain;
  opacity: 0.6;
}

.main-header-logo:active {
  width: 163px;
  height: 35px;
  object-fit: contain;
  opacity: 0.3;

}

.button {
  /*width: 85px;*/
  /*height: 49px;*/
  /*border: solid 2px #000000;*/

}


.button-slide,
.button {
  background-color: #f0c52e;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 3.6px;
  text-align: center;
  color: #000000;
}

.user-navigation,
.site-navigation,
.catalog-list-items,
.slider-list,
.slider-items,
.items-types,
.slider-list-button,
.slider-services-list,
.brands-list,
.partners,
.footer-contacts,
.footer-social,
.breadcrumbs,
.filter-list,
.bluetooth-list,
.options-sorting-list,
.catalog-item-image,
.catalog-list,
.pagination-list,
.user-footer-navigation {
  list-style: none;
}


.site-navigation a,
.catalog-list-items a,
.items-types a,
.brands-list a,
.footer-contacts a,
.footer-social a,
.pagination-item a {
  color: #000000;
}


.login-link {
  font-family: "OpenSans-Light", Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: 0.2px;
  text-align: left;
  color: #000000;
  text-transform: none;
}


.login-compare {
  font-family: "OpenSans-Light", Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: 0.2px;
  text-align: left;
  color: #000000;
  text-transform: none;

}

.login-cart {
  font-family: "OpenSans-Light", Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: 0.2px;
  text-align: left;
  color: #000000;
  text-transform: none;
}

.catalog-list {
  font-family: "OpenSans-Light", Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.4;
  letter-spacing: 0.2px;
  text-align: left;
  color: #000000;
  text-transform: none;
}
.slide h2 {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.19;
  letter-spacing: 0.5px;
  text-align: left;
  color: #000000;
  text-transform: none;
}


.slide p {
  font-family: "OpenSans-Light", Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: 0.2px;
  text-align: left;
  color:#464646;
}

.slide-option {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 36px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 0.4px;
  text-align: left;
  color: #000000;
  text-transform: none;
}


.slaide-name-option {
  font-family: "OpenSans-Light", Arial, sans-serif;
  font-size: 13px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.54;
  letter-spacing: 0.1px;
  text-align: left;
  color: #464646;
}
.category-item {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 0.2px;
  text-align: left;
  color: #000000;
  text-transform: none;
}


.services-slide h2{
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.02;
  letter-spacing: 0.5px;
  text-align: left;
  color: #000000;
  text-transform: none;

}

.services-slide p {
  font-family: "OpenSans-Light", Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: 0.2px;
  text-align: left;
  color: #464646;
  text-transform: none;
}


.about-us h2 {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.02;
  letter-spacing: 0.5px;
  text-align: left;
  color: #000000;
  text-transform: none;
}

.about-us p {
  font-family: "OpenSans-Light", Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
  text-transform: none;
  color:#464646;
}

.partners {
  font-family:"Gilroy", Arial, sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 2.5;
  color: #000000;
  text-transform: none;
}

.button {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 3.6px;
  text-align: center;
  color: #000000;
}
.contacts h2 {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.02;
  letter-spacing: 0.5px;
  text-align: left;
  color: #000000;
  text-transform: none;

}

.contacts p {
  font-family: "OpenSans-Light", Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
  color: #464646;
}


.login-link:hover,
.login-link:focus,
.login-compare:hover,
.login-compare:focus,
.login-cart:hover,
.login-cart:focus {
  color: rgba(0, 0, 0, 0.6);

}


.login-link:active,
.login-compare:active,
.login-cart:active {
  color: rgba(0, 0, 0, 0.3);

}

.site-navigation a:hover,
.site-navigation a:focus {
  color: rgba(0, 0, 0, 0.6);
}


.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.catalog-list:hover,
.catalog-list:focus {
  color:rgba(0, 0, 0, 0.6);
}

.catalog-list:active {
  color: rgba(0, 0, 0, 0.3)
}


.picture-slider-bottom {
  background-color: #e5e5e5;

}

.footer-address {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.footer-phone {
  font-family: "OpenSans-Light", Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: right;
  color: #ffffff;

}


.footer-contacts a {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 3.6px;
  text-align: left;
  color: #ffffff;
  }

.main-header {
  width: 1160px;
  background-color: rgba(240, 197, 46, 0.5);

}

/*.category-item img {*/
/*  background-color: rgba(240, 197, 46, 0.5);*/
/*}*/


.category-item img:hover,
.category-item img:focus {
  background-color: #f0c52e;
}


.category-item img:active {
  object-fit: contain;
  opacity: 0.3;
}


.brand img:hover,
.brand img:focus {
  object-fit: contain;
}

.brand {
  object-fit: contain;
  opacity: 0.2;
  background-blend-mode: color;

}


.main-footer {
  background-color:#464646;
}

.user-footer-navigation a {
  opacity: 0.7;
  font-family: "OpenSans-Light", Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.4;
  letter-spacing: 0.2px;
  text-align: left;
  color: rgba(255, 255, 255, 0.7);
}




.user-name {
  font-family:"OpenSans-Light", Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: 0.2px;
  text-align: left;
  color: #000000;
  text-transform: none;
}

.login-quit {
  opacity: 0.3;
  font-family: "OpenSans-Light", Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: 0.2px;
  text-align: left;
  color: rgba(0, 0, 0, 0.3);
  text-transform: none;
}


.page-title {
  font-family:  "Gilroy", Arial, sans-serif;
  font-size: 47px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.02;
  letter-spacing: 0.5px;
  text-align: left;
  color: #000000;
  text-transform: none;

}

.breadcrumbs a {
  opacity: 0.3;
  font-family: "OpenSans-Light", Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: 0.1px;
  text-align: left;
  color: rgba(0, 0, 0, 0.3);
  text-transform: none;
}

.option-sorting {
  font-family: "OpenSans-Light", Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: left;
  color:rgba(0, 0, 0, 0.3);
  text-transform: none;
}

.catalog-category {
  font-family:  "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 0.2px;
  text-align: left;
  color: #000000;
  text-transform: none;
}


.option-sorting:hover,
.option-sorting:focus {
  opacity: 0.6;
  font-family: "OpenSans-Light", Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: left;
  color: rgba(0, 0, 0, 0.6);
}

.option-sorting:active {
  font-family: "OpenSans-Light", Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: left;
  color: #000000;

}

.pagination-item {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 3.2px;
  text-align: left;
  color: #000000;
  width: 759px;
  background-color: #ebebeb;

}

.user-name.footer,
.login-quit.footer,
.login-compare.footer,
.login-cart.footer,
.login-link.footer {
  opacity: 0.7;
  font-family: "OpenSans-Light", Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: 0.2px;
  text-align: left;
  color: rgba(255, 255, 255, 0.7);
}


.login-link.footer:hover,
.login-link.footer:focus,
.user-name.footer:hover,
.user-name.footer:focus,
.login-quit.footer:hover,
.login-quit.footer:focus,
.login-compare.footer:hover,
.login-compare.footer:focus,
.login-cart.footer:hover,
.login-cart.footer:focus {
  font-family: "OpenSans-Light", Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: 0.2px;
  text-align: left;
  color: #ffffff;
}



.login-link.footer:active,
.user-name.footer:active,
.login-quit.footer:active,
.login-compare.footer:active,
.login-cart.footer:active {
  opacity: 0.3;
  font-family:"OpenSans-Light", Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: 0.2px;
  text-align: left;
  color: rgba(255, 255, 255, 0.3) ;

}

.footer-contacts a:hover,
.footer-contacts a:focus {
  opacity: 0.6;
  font-family:"Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 3.6px;
  text-align: left;
  color: rgba(255, 255, 255, 0.6);

}

.footer-contacts a:active {
  opacity: 0.3;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 3.6px;
  text-align: left;
  color: rgba(255, 255, 255, 0.3);
}


.footer-bottom a:hover,
.footer-bottom a:focus {
  object-fit: contain;
  opacity: 0.6;
  background-color: #ffc600;

}


.item-background {
  display: block;
  background-color: rgba(240, 197, 46, 0.5);
}
